/*! Minimalist Web Notepad | https://github.com/pereorga/minimalist-web-notepad */

body {
    margin: 0;
    background: #ebeef1;
}

#content {
    font-size: 100%;
    margin: 0;
    padding: 20px;
    overflow-y: auto;
    resize: none;
    width: 100%;
    height: 100%;
    min-height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px #ddd solid;
    outline: none;
}

.container {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
}

#printable {
    display: none;
}


@media print {

    #content {
        display: none;
    }

    #printable {
        display: block;
        white-space: pre-wrap;
        word-break: break-word;
    }
}
