@media screen {
    body {
        background: #eee;
    }

    .container {
        position: absolute;
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
    }

    .content {
        width: 100%;
        height: 100%;
        min-height: 100%;
        resize: none;
        overflow-y: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .print {
        display: none;
    }
}

@media print {
    .container {
        display: none;
    }

    .print {
        font-size: 10px;
    }
}
